apps/cli/test-data/MN908947.nextclade.gb
apps/cli/test-data/SARS-COV2_12.fasta
test-data/sars-cov-2/SARS-CoV-2_1000_o.tsv.xz
example-deploy/.env
example-deploy/backend.env
example-deploy/backend.secrets.env
example-deploy/frontend.env
example-deploy/data
