.coverage
*.pyc
*/*.pyc
import_data/
static/
htmlcov/
archive_data/
processing_data/
postgres-data/
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.coverage
log_improve
*prod.conf
logs/
conf/docker/prod-secrets.env

private/

tmp/
work/
cruft/
