.coverage
*.pyc
*/*.pyc
import_data/
static/
htmlcov/
archive_data/
processing_data/
postgres-data/
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.coverage
log_improve
*prod.conf
logs/

private/

tmp/
work/
cruft/

# Local settings that shouldn't be committed to git
conf/postgresql/*.conf.local
conf/docker/prod-secrets.env
