SONAR_BACKEND_IMAGE=ghcr.io/rki-mf1/sonar-backend:latest
SONAR_FRONTEND_IMAGE=ghcr.io/rki-mf1/sonar-frontend:latest
SONAR_CLI_IMAGE=ghcr.io/rki-mf1/sonar-cli:latest

POSTGRES_IMAGE=postgres:16-alpine
REDIS_IMAGE=redis:7-alpine

SONAR_PUBLIC_BACKEND_PORT=18000
SONAR_PUBLIC_FRONTEND_PORT=18080
