DEBUG=FALSE
PROFILE_IMPORT=FALSE

POSTGRES_DB=covsonar
POSTGRES_USER=postgres
POSTGRES_HOST=sonar-db
POSTGRES_PORT=5432
POSTGRES_SCHEMA=public
POSTGRES_PASSWORD=replace-me-in-backend-secrets.env

REDIS_URL=redis://sonar-cache:6379/

ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:8080

LOG_LEVEL=INFO
LOG_PATH=/logs

SONAR_DATA_FOLDER=/sonar/data
SONAR_DATA_ENTRY_FOLDER=/sonar/data/import
SONAR_DATA_PROCESSING_FOLDER=/sonar/data/processing
SONAR_DATA_ARCHIVE=/sonar/data/archive
KEEP_IMPORTED_DATA_FILES=false

SAMPLE_BATCH_SIZE=100
PROPERTY_BATCH_SIZE=1000

GUNI_THREADS=2
GUNI_WORKERS=2
START_DJANGO_SERVER=python manage.py collectstatic --noinput && gunicorn --workers ${GUNI_WORKERS} --threads ${GUNI_THREADS} --bind 0.0.0.0:9080 covsonar_backend.wsgi:application
