# ------- Sonar-CLI -------
# sonar backend url
API_URL = "http://127.0.0.1:8000/api"

# The maximum number of seqhashes that are sent to the backend at a time, when
# checking if each sequene to be imported already exists in the database (and
# can therefore be skipped)
CHUNK_SIZE=10000

# For the size of samples annotated per worker, please take note of the following cautions:
# 1. Adjusting this variable requires consideration of available memory in your system.
# 2. Also this ANNO_CHUNK_SIZE number will be used to zip samples&vars per one file. (e.g., 250 samples&vars/zip file)
# We are currently exploring alternative solutions.
ANNO_CHUNK_SIZE=250

# For property (metadata) imports: we split the import into chunk and send each
# chunk to the backend for import, to work around issues with the maximum
# possible file size that can be sent to the backend in one POST. This sets the
# maximum number of rows to include in each chunk.
PROP_CHUNK_SIZE=1000

# Hard filter for deletion mutation, we exclude a sample that deletion mutation exceed the threshold.
FILTER_DELETE_SIZE=2000

# Logging for application
# DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL=DEBUG

# ------- For Annotation Tool -------
# By default, we do not need to change the "ANNO_TOOL_PATH" and "ANNO_CONFIG_FILE" paths because we use conda to install SnpEff.
ANNO_TOOL_PATH=snpEff

# If you want to use a different version or configuration,
# please edit "ANNO_TOOL_PATH" and "ANNO_CONFIG_FILE" by providing the full path as the example below.
# ANNO_TOOL_PATH=/mnt/c/works/release/snpEff.jar
# ANNO_CONFIG_FILE=/path/to/snpEff.config
